textarea {
    resize: none;
    width: 22rem !important;
    background-color: #d4f4ff !important;
  }
  
  .bg-info {
    background-color: #FFFFFF !important;
    width:300%;
  }
  @media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:portrait) {
    .row{
      margin-left:25rem;
    }
  }
  @media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) {
  .row{
    margin-left:30rem;
  }
  }
  @media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation:portrait) {
    .row{
      margin-left:33rem;
    }
    }
   
      
      
