agm-map {
  height: 300px;
  /* height is required */
}

.button-brown-true {
  background-color: rgb(255, 42, 66);
  color: black;
}

.bg-info {
  background-color: #FFFFFF !important;
}

::ng-deep.ngx-datepicker-position-bottom-right {
  z-index: 1;
}
