<div *ngIf="!isMobile">
  <div style="float: right;" class="col-md-3 col-sm-3 col-lg-3">
    <span style="color: steelblue"> <b>Welcome <u> {{empName}} !</u></b></span>
  </div>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark align-right">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="http://troodontechnology.com/">
        <img src="assets/img/TROOWORK.png" style="width: 10rem;">
      </a>
    </mdb-navbar-brand>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <links>
      <div style="margin-left:30%;margin-top: 1.3%">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <img class="imagesize nav-link" src="assets/icons/homepage.png" [routerLink]="[{outlets:{Superout:['Supervisor_welcomePage']}}]">
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/work order.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['CreateWorkOrderSuperVisor']}}]"><b>Create
                  Work-Order</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['createQuickOrderSuperVisor']}}]"><b>Create
                  Quick Work-Order</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['viewWorkOrderSupervisor']}}]"><b>View
                  Work-Order</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['CreateBatchWorkOrder']}}]"><b>Create Batch
                  Work Order</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewBatchWorkorder']}}]"><b>View Batch
                  Work
                  Order</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['WorkOrderType']}}]"><b>Work-Order
                  Type</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewServiceRequest']}}]"><b>View Service
                  Request</b></a>
            </div>
          </li>
          <!-- <li class="nav-item dropdown">
            <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/PEOPLE--3.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['CreateEmployee']}}]"><b>Create Employee</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewEmployee']}}]"><b>View Employee</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['MeetingTrainingCreate']}}]"><b>Create
                  Meeting/Training</b></a> -->
          <!-- <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['Training']}}]"><b>View Training</b></a> //old view training link -->
          <!-- <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['MeetingTrainingView']}}]"><b>View
                  Meeting/Training</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['JobTitileView']}}]"><b>Create Job-Title</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['manageLoginCredentials']}}]"><b>Manage
                  Login
                  Credentials</b></a>
            </div>
          </li> -->
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/reports.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['DashboardReport']}}]"><b>WorkOrder
                  Dashboard</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['WorkorderReport']}}]"><b>WorkOrder</b></a>
              <!--<a class="dropdown-item" [routerLink]="[{outlets:{Superout:['Batch-work-order-Report']}}]"><b>Batch
                  Work-Order Report</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['BatchScheduleAssignment']}}]"><b>View
                  Batch-Schedule Assignment</b>
              </a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['InspectionReport']}}]"><b>Inspection</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['BarcodeReport']}}]"><b>Barcode</b></a> -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/ASSIGNMENTS--3.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['SchedulingView']}}]"><b>Create/Edit
                  Assignment Name</b></a>
            </div>
          </li>
          <li *ngIf="scheduleIcon==1" class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/scheduling.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['Scheduler']}}]"><b>Scheduler</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['PtoRequest']}}]"><b>Create PTO
                  Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewPtoRequest']}}]"><b>View PTO
                  Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['RequestsFromEmployees']}}]"><b>View
                  Employee PTO Requests</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['TradeRequest']}}]"><b>Create
                  Trade Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewTradeRequest']}}]"><b>View
                  Trade Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['TradeRequestsFromEmployees']}}]"><b>View
                  Employee Trade Requests</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['schedulerReport']}}]"><b>Scheduler
                  Report</b></a>
            </div>
          </li>
          <!-- <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/DOCUMENTS--3.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['DocumentfolderView']}}]"><b>Create New
                  Document Folder</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['DocumentsUpload']}}]"><b>Upload Document</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['ViewDocuments']}}]"><b>View Document</b></a>
            </div>
          </li> -->
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/INSPECTION--2.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['Createinspectionbysuprvsr']}}]"><b>Create
                  Inspection</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['Viewinspctnbysprvsr']}}]"><b>View
                  Inspection</b></a>
              <!-- <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['InspectiontemplateCreate']}}]"><b>Create
                  Inspection Template</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['InspectiontemplateandquestionsView']}}]"><b>View
                  Inspection Template</b></a> -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/profile-2.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['supervisorMyProfile']}}]"><b>My
                  Profile</b></a>
              <a class="dropdown-item" routerLink=""><b>Log Out</b></a>
            </div>
          </li>
        </ul>
      </div>
    </links>
  </mdb-navbar>
  <!-- <div style="height:100%;background-color: #EBFAFF;"> -->
  <router-outlet name="Superout"></router-outlet>
  <!-- varun - child paths are loaded in  Superout outlet for lazy loading-->
  <!-- </div> -->
</div>
<!-- mobile screen page begins here -->

<div *ngIf="isMobile" style= "margin-left: 1%">
  <div id="mySidenav" class="sidenav">

   <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">Close Navigation</a>

  
   <button class="dropdown-btn" [routerLink]="[{outlets:{Superout:['SchedulerPWA']}}]"(click)="dropdownData()"> <i class="fa fa-calendar-o" ></i>       SCHEDULER VIEW
   </button>

   <button class="dropdown-btn" (click)="dropdownData()"><img src="../../../../../assets/icons/pto.png"> PTO</button>
   <div class="dropdown-container">
     
   <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['PtoRequestPWA']}}]"><b>Create PTO
     </b></a>
     <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['PtoRequestViewPWA']}}]"><b>View PTO
     </b></a>
   </div>
   <button class="dropdown-btn" (click)="dropdownData()"><img src="../../../../../assets/icons/Trade.png" > TRADE</button>
   <div class="dropdown-container">
      <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['TradeRequestPWA']}}]"><b>Create Trade
     </b></a>
     <a class="dropdown-item" [routerLink]="[{outlets:{Superout:['TradeRequestViewPWA']}}]"><b>View Trade
     </b></a>
 
 
   </div>
     <button class="dropdown-btn"  (click)="basicModal.show();logout()"><i class="fa fa-sign-out"></i> Logout
    
     </button>
   
   
  </div>
  <span style="font-size:40px;cursor:pointer;" (click)="openNav()">&#9776;</span>  
  <div class="picture">
    <a (click)="basicModal.show();logout()"><img src="../../../../../assets/icons/logout.png"   style="width:7%;height:7%;border-radius:7%;float:right;
    margin-top:-3rem;
    background-color: transparent;
      border-color: transparent;

      box-shadow: none;"></a>
  </div>
  <!-- <div class="alert" style="text-align:center;" *ngIf="popup==true; disabled">

    <h2>Are you sure you want to exit?</h2>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  
    <button type="button" class= "btn btn-primary" (click)="leave()" routerlink="" >Yes</button>
    <button type="button" class= "btn btn-danger"   (click)="stayhere()">No</button>
 
  </div> -->
  <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        Are you sure you want to exit?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="success" class="waves-light" aria-label="Close"
          (click)="basicModal.hide();leave()"   routerLink="/"   mdbWavesEffect>Yes</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="basicModal.hide();stayhere()"
          mdbWavesEffect>No</button>
      </div>
    </div>
  </div>
</div>


 <router-outlet name="Superout"></router-outlet>
</div> 
