<div *ngIf="!isMobile">
  <div style="float: right;" class="col-md-3 col-sm-3 col-lg-3">
    <span style="color: steelblue"> <b>Welcome <u> {{empName}} !</u></b></span>
  </div>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark align-right">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="http://troodontechnology.com/">
        <img src="assets/img/TROOWORK.png" style="width: 10rem;">
      </a>
    </mdb-navbar-brand>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <links>
      <div style="margin-left: 45%;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <img class="imagesize nav-link" src="assets/icons/homepage.png"
              [routerLink]="[{outlets:{EmployeeOut:['Emp_welcomePage']}}]">
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/work order.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['Viewworkordersforemployee']}}]"><b>View
                  Workorders</b></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" data-toggle="dropdown" src="assets/icons/PEOPLE--3.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['Viewmeetingortrainingevent']}}]"><b>View
                  Meeting/Training/Event</b></a>


            </div>
          </li>
          <li *ngIf="isEmployeecalendar==1" class="nav-item dropdown" style="margin-left: -1rem;">
            <img class="imagesize nav-link" src="assets/icons/scheduling.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['ViewSchedulerForEmployee']}}]"><b>View
                  Scheduler-Employee</b></a>

              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['PtoRequest']}}]"><b>Create PTO
                  Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['ViewPtoRequest']}}]"><b>View PTO
                  Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['TradeRequest']}}]"><b>Create
                  Trade Request</b></a>
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['ViewTradeRequest']}}]"><b>View
                  Trade Request</b></a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <img class="imagesize nav-link" src="assets/icons/profile-2.png">
            <div class="dropdown-content" style="margin-left:1rem;">
              <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['employeeMyProfile']}}]"><b>My
                  Profile</b></a>
              <a class="dropdown-item" routerLink=""><b>Log Out</b></a>
            </div>
          </li>
        </ul>
      </div>
    </links>
  </mdb-navbar>
  <!-- <div style="height:100%;background-color: #EBFAFF;"> -->
  <router-outlet name="EmployeeOut"></router-outlet>
  <!-- varun - child paths are loaded in  EmployeeOut outlet for lazy loading-->
  <!-- </div> -->

</div>

<!-- mobile screen page begins here -->

<div *ngIf="isMobile" style= "margin-left: 1%">
  <div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">Close Navigation</a>


    <button class="dropdown-btn" [routerLink]="[{outlets:{EmployeeOut:['ViewSchedulerPWAForEmployee']}}]"
      (click)="dropdownData()"> <i class="fa fa-calendar-o"></i> SCHEDULER VIEW
    </button>

    <button class="dropdown-btn" (click)="dropdownData()"><img src="../../../../../assets/icons/pto.png"> PTO</button>
    <div class="dropdown-container">

      <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['PtoRequestPWA']}}]"><b>Create PTO
        </b></a>
      <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['PtoRequestViewPWA']}}]"><b>View PTO
        </b></a>
    </div>
    <button class="dropdown-btn" (click)="dropdownData()"><img src="../../../../../assets/icons/Trade.png">
      TRADE</button>
    <div class="dropdown-container">
      <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['TradeRequestPWA']}}]"><b>Create Trade
        </b></a>
      <a class="dropdown-item" [routerLink]="[{outlets:{EmployeeOut:['TradeRequestViewPWA']}}]"><b>View Trade
        </b></a>


    </div>
    <button class="dropdown-btn" routerLink="/" (click)="dropdownData()"><i class="fa fa-sign-out"></i> Logout
     
      </button>
    

  </div>
  <span style="font-size:40px;cursor:pointer;" (click)="openNav()">&#9776;</span>

  <div class="picture">
    <a (click)="basicModal.show();logout()"><img src="../../../../../assets/icons/logout.png" style="width:7%;height:7%;border-radius:7%;float:right;
      margin-top:-3.8rem;
      background-color: transparent;
        border-color: transparent;
  
        box-shadow: none;"></a>
  </div>
  <!-- <div class="alert" style="text-align:center;" *ngIf="popup==true; disabled">
  
      <h2>Are you sure you want to exit?</h2>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    
      <button type="button" class= "btn btn-primary" (click)="leave()" routerlink="" >Yes</button>
      <button type="button" class= "btn btn-danger"   (click)="stayhere()">No</button>
   
    </div> -->
  <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          Are you sure you want to exit?
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="success" class="waves-light" aria-label="Close"
            (click)="basicModal.hide();leave()" routerLink="/" mdbWavesEffect>Yes</button>
          <button type="button" mdbBtn color="danger" class="relative waves-light"
            (click)="basicModal.hide();stayhere()" mdbWavesEffect>No</button>
        </div>
      </div>
    </div>
  </div>


  <router-outlet name="EmployeeOut"></router-outlet>
</div>