.refer {
  text-align: center !important;
  
}


.bg-info {
  background-color: #FFFFFF !important;
}

.datepicker {
  background-color: #FFFFFF !important;
}

::ng-deep.ngx-datepicker-position-bottom-right {
  z-index: 1;
}