<div style="padding-left: 9rem;padding-right: 9rem;" *ngFor="let profile of profile">
  <div class="row col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-left: 40%;">
    <h4><strong>{{profile.FirstName}} {{profile.MiddleName}} {{profile.LastName}}: Profile</strong></h4>
  </div>
  <div class="row col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-left: 44%;">
    <h4><strong>{{profile.UserRoleName}}</strong></h4>
  </div>

  <div style="margin-left: 1.5rem;margin-right: 1.5rem;padding-top: 1rem;" class="row col-sm-12 col-md-12 col-lg-12">

    <div class="col-sm-3 col-md-3 col-lg-3">

      <div class="form-group" *ngIf="image == null">
        <img src="assets/img/userIcon.jpg" style="width: 12rem;" class="img-responsive">
      </div>
      <div class="form-group" *ngIf="image !== null">
        <img src="./imageupload/{{image}}" style="width: 12rem;" class="img-responsive">
      </div>
      <div class="form-group">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Choose File
        </label>
        <input id="file-upload" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
        <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" /> -->
      </div>
      <div>
        <button type="button" style="text-align:center;width: 66%;margin-top: -3%;" class="btn btn-success" [disabled]="fileCheck" (click)="ImgUpload();"><b>UPLOAD</b></button>
      </div>
      <div class="form-group">
        <button style="margin-top: 1rem;" class="btn btn-primary" [routerLink]="['changePasswordManager',profile.EmployeeKey,profile.UserRoleName,profile.IsSupervisor]" routerLinkActive="active">
          <span><b>CHANGE PASSWORD</b></span>
        </button>
      </div>

    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="form-group">
        <table class="table table-responsive table-hover table-bordered table" style="display: inline-table;width: 90%;">
          <thead class="tableHead newHead">
            <th colspan="2">
              <h5><strong> Organizational Information </strong></h5>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>Organization :</td>
              <td>{{profile.Organization}}</td>
            </tr>
            <tr>
              <td>EmployeeNumber :</td>
              <td>{{profile.EmployeeNumber}}</td>
            </tr>
            <tr>
              <td>User Name :</td>
              <td>{{profile.UserId}}</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
            </tr> -->
            <tr class="tableHead newHead">
              <td colspan="2">
                <h5><strong> General Information</strong></h5>
              </td>
            </tr>
            <tr>
              <td>Position:</td>
              <td *ngIf="profile.UserRoleName==='Supervisor'">Supervisor</td>
              <td *ngIf="profile.UserRoleName==='Employee'">Employee</td>
              <td *ngIf="profile.UserRoleName==='Manager'">Manager</td>
              <td *ngIf="profile.UserRoleName==='SuperAdmin'">SuperAdmin</td>
              <td *ngIf="profile.UserRoleName==='Admin'">Admin</td>
            </tr>
            <tr *ngIf="profile.DepartmentName">
              <td>Department :</td>
              <td>{{profile.DepartmentName}}</td>
            </tr>
            <tr *ngIf="profile.JobTitle !== -1">
              <td>Job Title :</td>
              <td>{{profile.JobTitle}}</td>
            </tr>
            <tr *ngIf="managerFlag">
              <td>Manager :</td>
              <td>{{manager}}</td>
            </tr>
            <tr>
              <td>Hire Date :</td>
              <td>{{profile.HireDate}}</td>
            </tr>
            <tr>
              <td>Status :</td>
              <td>Active</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
            </tr> -->
            <tr class="tableHead newHead">
              <td colspan="2">
                <h5><strong> Personal Information</strong></h5>
              </td>
            </tr>
            <tr *ngIf="profile.EmailID !== 'null'">
              <td>Email :</td>
              <td>{{profile.EmailID}}</td>
            </tr>
            <tr>
              <td>Date of Birth :</td>
              <td>{{profile.BirthDate}}</td>
            </tr>
            <tr *ngIf="profile.PrimaryPhone !== 'null'">
              <td>Phone Number :</td>
              <td>{{profile.PrimaryPhone}}</td>
            </tr>
            <tr *ngIf="profile.AlternatePhone !== 'null'">
              <td></td>
              <td>{{profile.AlternatePhone}}</td>
            </tr>
            <tr *ngIf="profile.AddressLine1 !== 'null'">
              <td>Address :</td>
              <td>{{profile.AddressLine1}}&nbsp;{{profile.AddressLine2}}&nbsp;{{profile.City}}&nbsp;{{profile.State}}&nbsp;{{profile.Country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>